# Site settings
title: Beethovens Werkstatt
email: info@beethovens-werkstatt.de
description: >-
  Das Projekt Beethovens Werkstatt kombiniert zwei Forschungsansätze – Genetische Textkritik 
  und Digitale Musikedition – um kompositorische Prozesse im Œuvre Beethovens zu untersuchen.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://beethovens-werkstatt.de" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
highlighter: rouge
show_excerpts: true

# Language and locale settings
lang: de
locale: de_DE

# Sass configuration
sass:
  sass_dir: _sass
  style: compressed

# Collections
collections:
  pages:
    output: true
    permalink: /:name/
  glossary:
    output: true
    permalink: /glossar/:name/
  projekt:
    output: true
    permalink: /:name/
  posts:
    output: true
    permalink: /:year-:month-:day-:title/

# Navigation
navigation:
  - title: "MODULE"
    url: "/module/"
  - title: "VIDEAPP"
    url: "/facs/"
  - title: "WERKE"
    url: "/werke/"
  - title: "GLOSSAR"
    url: "/glossar/"
  - title: "NEWS"
    url: "/news/"
  - title: "PROJEKT"
    url: "/projekt/"

# Include submodule source files in the site
include:
  - vide-component-facsimile

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - Dockerfile
  - docker-compose.yml
  - .dockerignore
  - vide-component-facsimile/.git
  - vide-component-facsimile/node_modules
  - vide-component-facsimile/package.json
  - vide-component-facsimile/package-lock.json
  - vide-component-facsimile/.gitignore
  - vide-component-facsimile/LICENSE
  - vide-component-facsimile/src
  - vide-component-facsimile/README.md
  - vide-component-facsimile/dist/styles.scss
  - vide-component-facsimile/dist/styles.css

# Default layout for different content types
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  - scope:
      path: ""
    values:
      layout: "default"
