
<footer id="footer" class="clearfix">

	<div class="container">

		
		<div class="three-fourth">

			<nav id="footer-nav" class="clearfix">

			<ul>
			
				{{~it.include("sitemap").pages :value:index}}
					<li><a href="{{=value.file}}">{{=value.title}}</a></li>
				{{~}}

			</ul>
			
		</nav><!-- end #footer-nav -->


			<ul class="contact-info">
				<li class="address">Beethoven-Haus, Bonngasse 24-26, 53111 Bonn</li>
				<li class="phone">(0228) 98175-22</li>
				<li class="email"><a href="mailto:info@beethovens-werkstatt.de">info@beethovens-werkstatt.de</a></li>
			</ul><!-- end .contact-info -->
			
			<ul class="contact-info">
				<li class="address">Musikwiss. Seminar, Gartenstraße 20, 32756 Detmold</li>
				<li class="phone">(05231) 975-663</li>
			</ul><!-- end .contact-info -->
			
		</div><!-- end .three-fourth -->
		
		<div class="one-fourth last">
		
			<p>Gefördert durch:</p>
		
			<a target="_blank" href="http://www.adwmainz.de">
				<img src="images/pix/ADWLogo_sw_mitSchrift.png" alt="" class="entry-image">
			</a>
		</div><!-- end .one-fourth.last -->
		
		
	</div><!-- end .container -->

	<div id="hosts" class="container">
		
		<div class="one-third">
			
			<a target="_blank" href="http://www.uni-paderborn.de">
				<img src="images/pix/UPB_Logo_SW.png" alt="" class="entry-image">
			</a>
			
		</div><!-- end .one-third -->
		
		<div class="one-third">
			
			<a target="_blank" href="http://www.beethoven-haus-bonn.de">
				<img src="images/pix/lvb_kurz_30s_mac.png" alt="" class="entry-image">
			</a>			
		</div><!-- end .one-third -->
		
		<div class="one-third last">
			
			<a target="_blank" href="http://www.hfm-detmold.de">
				<img src="images/pix/HfM_Logo.png" alt="" class="entry-image">
			</a>
			
		</div><!-- end .one-third.last -->
		
	</div><!-- end .container -->
	
</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

	<div class="container">

		<ul>
			<li>SmartStart &copy; 2012</li>
			<li><a href="impressum.html">Impressum</a></li>
		</ul>

	</div><!-- end .container -->

</footer><!-- end #footer-bottom -->
